@font-face {
    font-family: 'Hoefler Text';
    src: url('HoeflerText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('HoeflerText-BlackItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('HoeflerText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoefler Text';
    src: url('HoeflerText-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

