@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
@layer base {
} 

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'ABC Diatype', serif;
    --font-serif: 'Hoefler Text', sans-serif;

    --color-p-red-light: #D98E73;
    --color-p-red: #d9583b;
    --color-p-red-dark: #D94423;
    --color-p-blue: #3137FD;
    --color-p-grey: #474752
}

@layer components {
  a {
    @apply hover:text-p-blue transition duration-200;
  }

  ::selection {
    @apply bg-p-blue text-white;
  }

  ::-moz-selection {
    @apply bg-p-blue text-white;
  }

  .small-caps {
    font-variant-caps: small-caps;
  }

  .text-block {
    @apply mx-auto !max-w-[90ch]
    prose-p:tracking-normal prose-p:leading-[1.35] prose-p:text-black
    prose-p:font-sans prose-p:mb-8 prose-p:text-[1.2rem] lg:prose-p:text-[1.33rem]
    prose-headings:font-sans prose-headings:font-bold
    prose-h1:text-5xl lg:prose-h1:text-6xl prose-h1:mb-2 mb-0 prose-h1:font-serif
    prose-h4:text-4xl
    prose-h3:text-5xl lg:prose-h3:text-6xl prose-h3:mb-8 prose-h3:font-serif
    prose-a:text-p-blue prose-a:hover:underline
  }

  .text-block-no-prose {
    @apply mx-auto !max-w-[100ch]
    tracking-normal leading-[1.5] text-black 
    font-sans my-4 text-[1.33rem]
  }

  .footnotes > h2 {
    @apply !static !w-auto !h-auto !m-0 !p-0 !overflow-visible !whitespace-normal !border-0
  }

  .footnotes ol * {
    @apply text-base font-normal leading-[1.25] !text-p-grey font-serif;
  }

  .data-footnote-backref {
    @apply hidden;
  }

  sup a {
    @apply !no-underline text-xs !text-p-blue;
  }

  hr {
    @apply border-0 border-none h-auto text-center !my-0;
  }

  hr::before {
    content: "*";
    font-size: 2rem;
  }

  li::marker {
    @apply text-base font-serif text-p-grey;
  }

  .animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-200 ease-out;
  }

  .animate.show {
    @apply opacity-100 translate-y-0;
  }

  .header-shadow {
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
  }

  .hide-nav {
    max-height: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    border-bottom: 0;
    overflow: hidden;
    transition: opacity 0.15s ease;
  }

  .show-nav {
    opacity: 1;
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: opacity 0.35s ease allow-discrete;
  }

  .fix-content {
    height: 100%;
    position: fixed;
    overflow: hidden;
  }

  .quick-animate {
    transition: all 0.05s ease-in allow-discrete;
  }

  .resize-animate {
    transition: all 0.15s ease-in allow-discrete;
  }

  /* .footnotes::before {
    content: "";
    display: block;
    height: 1px;
    background: currentColor;
    opacity: 0.2;
    margin-bottom: 2rem;
  } */
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
	font-family: 'Hoefler Text';
  src: url(../../public/fonts/HoeflerText-Regular.woff2);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Hoefler Text';
  src: url(../../public/fonts/HoeflerText-Black.woff2);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Hoefler Text';
  src: url(../../public/fonts/HoeflerText-Italic.woff2);
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Hoefler Text';
  src: url(../../public/fonts/HoeflerText-BlackItalic.woff2);
	font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url(../../public/fonts/ABCDiatypeVariable-Trial.woff2) format("woff2-variations");
}